@import "tailwindcss";

@theme {
  /* Couleurs principales */
  --color-primary-blue: #21477c;
  --color-primary-orange: #fc6c4c;
  --color-primary-turquoise: #12dcce;

  /* Couleurs secondaires */
  --color-secondary-green: #41bb4d;
  --color-secondary-jaune: #f7c921;
  --color-secondary-gray: #494e54;
  --color-background-label: #cdfbf8;
  --color-background-content: #ffffff;
  --color-background-page: #dee5ec;

  /* Statuts (success, error, warning) */
  --color-success: #8dc572;
  --color-error: #be6464;
  --color-warning: #f0ad4e;
  --color-annuler: #c1c1c1;

  /* Badges de status (fond clair) */
  --status-bg-success: #d1f3c4;
  --status-bg-progress: #ffcaad;
  --status-bg-todo: #f0f0f0;
  --status-primary-success: #00a63e;
  --status-primary-progress: #fb2c36;
  --status-primary-todo: #6a7282;

  /* Couleurs des types de tâches */
  --color-type-analyse: #41bb4d;
  --color-type-conception: #fc6c4c;
  --color-type-dev: #21477c;
  --color-type-revue: #f7c921;
  --color-type-intégration: #12dcce;
  --color-type-test: #6a7282;
  --color-type-correctif: #e55854;
  --color-type-recette: #9af7f0;
  --color-type-documentation: #61ce70;
  --color-type-formation: #1c7f9b;
  --color-type-livraison: #ff6948;
  --color-type-maintenance: #1c1b2d;

  /* Typographie */
  --font-title: "Red Hat Display", sans-serif;
  --font-body: "Noto Sans", sans-serif;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f0f0f0;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-blue);
    border-radius: 4px;
    border: 2px solid #f0f0f0;
  }
}
